.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.editor {
  counter-reset: line;
}

.editor-container {
  height: 500px;
  overflow: auto;
  border: 1px solid #ced4da;
}

.editor #codeArea {
  outline: none;
  padding-left: 60px !important;
}

.editor pre {
  padding-left: 60px !important;
}

.editor .editorLineNumber {
  position: absolute;
  left: 0px;
  color: #cccccc;
  text-align: right;
  width: 40px;
  font-weight: 100;
}

.glass {
  backdrop-filter: blur(9px) saturate(154%);
    -webkit-backdrop-filter: blur(9px) saturate(154%);
    background-color: rgba(31, 67, 39, 0.66);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

body{
  background-image: url("https://cdn.wallpapersafari.com/31/27/DJfoQl.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
